#cartListHeaders b {
    font-size: 22px;
    padding: 5px 25px;
}

.imgCol{
    width: 25%;
}

.productCol {
    width: 25%;
}

.qtyCol {
    width: 20%;
}

.priceCol {
    width: 15%;
}

.subtotalCol {
    width: 15%;
}
